*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:rgb(54, 53, 53);
    text-align: center;
}

.inicio{
    font-size: 23px;
    background-color: black;
    height: 100px;
    
}
.inicio a{
    color: white;
    margin: 10PX;
}

#como{
    text-align: center;
    color: white;
    font-size: 19px;
    margin: 20px;
}

#historia{
    text-align: center;
    color: white;
    font-size: 19px;
    margin: 20px;
}

#print{
    text-align: center;
    color: white;
    font-size: 19px;
    margin: 20px;
}

#print h1{
    margin: 40px;
}

#video h1{
    color:white;
}

#video a{
    font-size: 25px;
    color: white;
}


.footer{
    text-align: center;
    height: 100px;
    background-color: black;
}
.footer h3{
    color: white;
}

.footer p{
    color: white;
}
